<app-nav></app-nav>

<div class="container">
    <br>
    <br>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a routerLink="/dashboard">Inicio</a></li>
            <li class="is-active"><a href="#" aria-current="page">Denuncias</a></li>
        </ul>
    </nav>
    <br>
    <div class="inbox-messages" *ngFor="let p of denuncias">
        <div class="card active">
            <div class="card-content">
                <div class="msg-header">
                    <span class="msg-from">
                        <small>Producto: {{p.PRODUCTO}}</small>
                    </span>

                </div>
                <div class="msg-subject">
                    <span class="msg-subject">
                        <strong>Fecha: {{p.FECHA}} </strong>
                    </span>
                    <br>
                    <span class="msg-subject">
                        <strong>Usuario que denuncia: {{p.NOMBRE}}  {{p.APELLIDO}} </strong>
                    </span>
                </div>
                <div class="msg-snippet">
                    <p>Razon: {{p.COMENTARIO}}</p>
                </div>

                

                <div class="buttons is-right">
                    <div *ngIf="p.ESTADO == 1">
                        <button class="button" (click)="desactivarProducto(p.ID_PRODUCTO_FK)">Desactivar producto</button>
                    </div>
                    <div *ngIf="p.ESTADO == 0">
                        <button class="button" (click)="activarProducto(p.ID_PRODUCTO_FK)">Activar producto</button>
                    </div>
                    <div>
                        <button class="button" (click)="delDenuncia(p.ID_DENUNCIA_FK)">Eliminar denuncia</button>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <br>
    
    <br>
    <!-- total carrito -->

</div>

<app-footer></app-footer>
