<app-nav></app-nav>
<section class="section">
    <div class="container">

        <form [formGroup]="userForm" >
            <div class="field">
                <label class="label">Correo</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Correo" formControlName="correo" >
                </div>
            </div>
    
            <div class="field">
                <label class="label">contraseña</label>
                <div class="control ">
                    <input class="input" type="text" placeholder="tu contraseña" formControlName="pass" >
                </div>
            </div>
    
            
    
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" (click)="onSubmit()" >Ingresar</button>
                </div>
            </div>
        </form>
        <br>
        <div class="notification is-danger is-light"  *ngIf="err">
            <button class="delete" (click)="dismiss()" ></button>
            Credenciales incorrectas
        </div>
        
    </div>
</section>
<app-footer></app-footer>