<app-nav></app-nav>

<br>
<div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a routerLink="/dashboard">Inicio</a></li>
            <li class="is-active"><a href="#" aria-current="page">Creacion de categorias</a></li>
        </ul>
    </nav>
    <div class="notification is-white">

        <form [formGroup]="catForm" >
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Find a repository" formControlName="cat">
                </div>
                <div class="control">
                    <a class="button is-info" (click)="onSubmit()">
                        Agregar
                    </a>
                </div>
            </div>
        </form>

        
        <br>



        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let cat of categorias "  >
                    <td>{{cat.ID_CATEGORIA}}</td>
                    <td>{{cat.NOMBRE}}</td>
                </tr>
                
            </tbody>
        </table>
        <br>


    </div>
</div>


<br>
<app-footer></app-footer>