<app-nav></app-nav>
<section class="section">
    <div class="container">

        <div *ngIf="show">
            <form [formGroup]="registerForm">


                <div class="field">
                    <label class="label">Correo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="email">
                    </div>
                </div>


                <div class="field">
                    <label class="label">Nombres</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Apellidos</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="lname">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Pais</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="country">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Fecha de nacimiento</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="nac">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Contraseña</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="pss">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirmar Contraseña</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="pss2">
                    </div>
                </div>



                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" (click)="onSubmit()">Registrarme</button>
                    </div>
                </div>

            </form>
        </div>

        <div *ngIf="!show">
            <div class="notification is-danger is-light">
                <button class="delete"  (click)="regresar()"></button>
                {{mostrar}}
            </div>
        </div>


    </div>
</section>
<app-footer></app-footer>