<app-nav></app-nav>

<br>
<div class="container">
    <div class="notification is-white">

        
        <br>

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Creditos</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let us of usr "  >
                    <td>{{us.NOMBRE}}</td>
                    <td>{{us.APELLIDO}}</td>
                    <td>{{us.CORREO}}</td>
                    <td>{{us.CREDITOS}}</td>
                </tr>
                
            </tbody>
        </table>
        <br>
        <button class="button" (click)="activar()">Activar todos</button>


    </div>
</div>


<br>
<app-footer></app-footer>
