<app-nav></app-nav>
<br>
<section class="hero ">
    <div class="hero-body">
        <h2>Recuperar contraseña</h2>
        <div *ngIf="!steps">
            <form [formGroup]="st1Form" >
                <div class="field">
                    <label class="label">Correo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Correo" formControlName="correo" >
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" (click)="submitOne()" >Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="steps">
            <form [formGroup]="st2Form" >
                <div class="field">
                    <label class="label">Codigo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Codigo" formControlName="cod" >
                    </div>
                </div>
                <div class="field">
                    <label class="label">Contraseña nueva</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Codigo" formControlName="ps" >
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" (click)="submitTwo()" >Ingresar</button>
                    </div>
                </div>

                <div *ngIf="show2">
                    <div class="notification is-danger is-light">
                        <button class="delete" (click)="regresar2()"></button>
                        {{mostrar2}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<br>
<app-footer></app-footer>
