<app-nav></app-nav>

<div class="container">
    <br>
    <br>


    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/chats">Chats</a></li>
          <li class="is-active"><a href="#" aria-current="page">Conversacion</a></li>
        </ul>
      </nav>
    <br>

    
    <form  [formGroup]="comForm">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Mensaje</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Explain how we can help you" formControlName="msj" ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary"  (click)="enviarMsj()">
                            Enviar mensaje
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>



    <br>
    <button class="button is-primary" (click)="llenarMensajes()"> Refrescar</button>
    <br>
    <br>
    <div class="inbox-messages" *ngFor="let p of mens.slice().reverse()">
        <div class="card active">
            <div class="card-content">
                <div class="msg-header">
                    <span class="msg-from">
                        <small>{{p.NOMBRE}} {{p.APELLIDO}} Dice:</small>
                    </span>
                    <strong>
                        {{p.TEXTO}}
                    </strong>
                </div>
            </div>
        </div>

    </div>
    <br>


</div>

<app-footer></app-footer>