
<app-nav></app-nav>
<section class="section">
    <div class="container">

        <div *ngIf="show">
            <form [formGroup]="registerForm">


                <div class="field">
                    <label class="label">Codigo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="codeh">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Correo</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" formControlName="mail">
                    </div>
                </div>


            
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" (click)="onSubmit()">Confirmar</button>
                    </div>
                </div>

            </form>
        </div>

        <div *ngIf="!show">
            <div class="notification is-danger is-light">
                <button class="delete"  (click)="regresar()"></button>
                {{mostrar}}
            </div>
        </div>


    </div>
</section>
<app-footer></app-footer>